# copy this file to /lib/systemd/system/pcmvc_webserver.service to install the service

[Unit]
Description=PCMVC Webserver Application
After=network.target

[Service]
Environment=PORT=80
Type=simple
User=webserver
WorkingDirectory=/srv/pcmvc_webserver/
ExecStartPre=/snap/bin/npm install
ExecStart=/snap/bin/npm run start
Restart=on-failure

[Install]
WantedBy=multi-user.target
