# copy this file to /lib/systemd/system/ to install the service

[Unit]
Description=PCMVC Webserver Application
#Documentation=https://example.com @todo substituir pelo endereço do site
After=network.target

[Service]
Environment=PORT=80
Type=simple
User=webserver
WorkingDirectory=/srv/pcmvc_webserver/
ExecStart=/snap/bin/npm run start
Restart=on-failure

[Install]
WantedBy=multi-user.target
