<link rel="stylesheet" type="text/css" href="/partials/header.css">
<header>
	<h1>Projeto Comunitário de Medição do Vento de Campinas</h1>

	<ul>
		<li><a href="/">Home</a></li>
		<li><a href="/dashboard/">Dashboard</a></li>
		<li><a href="/docs/">Documentação</a></li>
	</ul>
</header>
