<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Dashboard | Projeto Comunitário de Medição do Vento de Campinas</title>
	</head>

	<body>
		{{>header}}

		<div class="container">
			<h1>Hello Dashboard!</h1>
			<a href="cadastro/">Página de cadastro</a>

			<table id="userTable">
				<tr>
					<th>Matricula</th>
					<th>Nome</th>
					<th>Estado</th>
				</tr>
				{{#each user}}
					<td>{{matricula}}</td>
					<td>{{nome}}</td>
					<td>{{api_enabled}}</td>
				{{/each}}
			</table>
		</div>
	</body>
</html>
