<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="index/css/style.css">
		<title>Docs | Projeto Comunitário de Medição do Vento de Campinas</title>
	</head>
	<body>
		{{>header}}
		<div class="container">
			<style>
				<!--
					/* Font Definitions */
					@font-face
					{font-family:Wingdings;
					panose-1:5 0 0 0 0 0 0 0 0 0;}
					@font-face
					{font-family:"Cambria Math";
					panose-1:2 4 5 3 5 4 6 3 2 4;}
					@font-face
					{font-family:Calibri;
					panose-1:2 15 5 2 2 2 4 3 2 4;}
					/* Style Definitions */
					p.MsoNormal, li.MsoNormal, div.MsoNormal
					{margin-top:0cm;
					margin-right:0cm;
					margin-bottom:8.0pt;
					margin-left:0cm;
					line-height:107%;
					font-size:11.0pt;
					font-family:"Calibri",sans-serif;}
					p.MsoListParagraph, li.MsoListParagraph, div.MsoListParagraph
					{margin-top:0cm;
					margin-right:0cm;
					margin-bottom:8.0pt;
					margin-left:36.0pt;
					line-height:107%;
					font-size:11.0pt;
					font-family:"Calibri",sans-serif;}
					p.MsoListParagraphCxSpFirst, li.MsoListParagraphCxSpFirst, div.MsoListParagraphCxSpFirst
					{margin-top:0cm;
					margin-right:0cm;
					margin-bottom:0cm;
					margin-left:36.0pt;
					margin-bottom:.0001pt;
					line-height:107%;
					font-size:11.0pt;
					font-family:"Calibri",sans-serif;}
					p.MsoListParagraphCxSpMiddle, li.MsoListParagraphCxSpMiddle, div.MsoListParagraphCxSpMiddle
					{margin-top:0cm;
					margin-right:0cm;
					margin-bottom:0cm;
					margin-left:36.0pt;
					margin-bottom:.0001pt;
					line-height:107%;
					font-size:11.0pt;
					font-family:"Calibri",sans-serif;}
					p.MsoListParagraphCxSpLast, li.MsoListParagraphCxSpLast, div.MsoListParagraphCxSpLast
					{margin-top:0cm;
					margin-right:0cm;
					margin-bottom:8.0pt;
					margin-left:36.0pt;
					line-height:107%;
					font-size:11.0pt;
					font-family:"Calibri",sans-serif;}
					.MsoPapDefault
					{margin-bottom:8.0pt;
					line-height:107%;}
					@page WordSection1
					{size:595.3pt 841.9pt;
					margin:70.85pt 3.0cm 70.85pt 3.0cm;}
					div.WordSection1
					{page:WordSection1;}
					/* List Definitions */
					ol
					{margin-bottom:0cm;}
					ul
					{margin-bottom:0cm;}
					-->
			</style>
			</head>
			<body lang=PT-BR link=blue vlink="#954F72">
				<div class=WordSection1>
					<p class=MsoListParagraphCxSpFirst style='text-indent:-18.0pt'><span
						style='font-family:Symbol'>·<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						</span></span>Baixe o Visual Studio Code <a
							href="https://code.visualstudio.com/">https://code.visualstudio.com/</a>
					</p>
					<p class=MsoListParagraphCxSpMiddle style='text-indent:-18.0pt'><span
						style='font-family:Symbol'>·<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						</span></span>Instale a PlatformIO no VScode <a
							href="https://marketplace.visualstudio.com/items?itemName=platformio.platformio-ide">https://marketplace.visualstudio.com/items?itemName=platformio.platformio-ide</a>
					</p>
					<p class=MsoListParagraphCxSpMiddle style='text-indent:-18.0pt'><span
						style='font-family:Symbol'>·<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						</span></span>Baixe o código fonte do projeto <a
							href="https://github.com/GCastilho/pcmvc_arduino/releases">https://github.com/GCastilho/pcmvc_arduino/releases</a>
					</p>
					<p class=MsoListParagraphCxSpMiddle style='text-indent:-18.0pt'><span
						style='font-family:Symbol'>·<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						</span></span>Abra o código fonte do projeto usando o VSCode
					</p>
					<p class=MsoListParagraphCxSpMiddle style='text-indent:-18.0pt'><span
						style='font-family:Symbol'>·<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						</span></span>Abra o arquivo ‘main.cpp’ na pasta ‘src’ do projeto
					</p>
					<p class=MsoListParagraphCxSpMiddle style='text-indent:-18.0pt'><span
						style='font-family:Symbol'>·<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						</span></span>Substitua o campo ‘apiKey’ pela cheve de API que você recebeu por
						e-mail
					</p>
					<p class=MsoListParagraphCxSpMiddle style='text-indent:-18.0pt'><span
						style='font-family:Symbol'>·<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						</span></span>Substitua o campo ‘matricula’ pela sua matricula da Fatec
					</p>
					<p class=MsoListParagraphCxSpMiddle style='text-indent:-18.0pt'><span
						style='font-family:Symbol'>·<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						</span></span>Substitua os campos ‘latitude’ e ‘longitude’ com a sua latitude e
						longitude
					</p>
					<p class=MsoListParagraphCxSpMiddle style='text-indent:-18.0pt'><span
						style='font-family:Symbol'>·<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						</span></span>Substitua o campo ‘height’ com a altura que o anemômetro estará
						em relação ao solo
					</p>
					<p class=MsoListParagraphCxSpMiddle><img border=0 width=566 height=304
						id="Imagem 3" src="img/image001.png"></p>
					<p class=MsoListParagraphCxSpMiddle style='text-indent:-18.0pt'><span
						style='font-family:Symbol'>·<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						</span></span>Utilize a opção ‘build’ do PlatformIO para compilar o software
						(barra inferior do vscode, um símbolo de “certo”)
					</p>
					<p class=MsoListParagraphCxSpMiddle><img border=0 width=566 height=304
						id="Imagem 1" src="img/image002.png"></p>
					<p class=MsoListParagraphCxSpMiddle style='text-indent:-18.0pt'><span
						style='font-family:Symbol'>·<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						</span></span>Utilize a opção ‘upload’ do PlatformIO para fazer upload do
						software para o arduino (barra inferior do vscode, uma seta para a direita)
					</p>
					<p class=MsoListParagraphCxSpMiddle><img border=0 width=566 height=304
						id="Imagem 2" src="img/image003.png"></p>
					<p class=MsoListParagraphCxSpMiddle style='text-indent:-18.0pt'><span
						style='font-family:Symbol'>·<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						</span></span>Monte o circuito do arduino conforme especificado pelo professor
					</p>
					<p class=MsoListParagraphCxSpMiddle><img border=0 width=332 height=281
						id="Imagem 4" src="img/image004.png"></p>
					<p class=MsoListParagraphCxSpLast style='text-indent:-18.0pt'><span
						style='font-family:Symbol'>·<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						</span></span>Pronto, o arduino deve estar pronto para ser usado
					</p>
				</div>
		</div>
	</body>
</html>
