<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="css/style.css">
		<title>Login | Projeto Comunitário de Medição do Vento de Campinas</title>
	</head>

	<body>
		{{>header}}

		<div class="container">
			<form method="POST">
				<h2>Login:</h2>
				<label for="matriculaBox">Matricula: </label>
				<input id="matriculaBox" name="matricula" type="text" placeholder="Matricula">

				<label for="passwordBox">Password: </label>
				<input id="passwordBox" name="password" type="password" placeholder="Password">
				<button type="submit">Login</button>
			</form>
			<a onclick="esqueci_senha()">Esqueci minha senha</a>
		</div>

		<script>
			function esqueci_senha() {
				let form = document.getElementsByTagName('form')[0]
				const new_form = '<h2>Redefinição de senha</h2>' +
							'<label for="email">Email: </label>' +
							'<input id="email" name="email" type="email" placeholder="Redefinir senha">' +
							'<button type="submit">Redefinir senha</button>'
				form.innerHTML = new_form
				form.action = './redefinicao_senha'
			}
		</script>

		<style>
			a {
				cursor: pointer;
				color: blue;
				text-decoration: underline;
			}
		</style>
	</body>
</html>
