<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Atualizar password | Projeto Comunitário de Medição do Vento de Campinas</title>
	</head>

	<body>
		{{>header}}
		
		<div class="container">
			<form method="POST">
				<label for="old_pass">Senha atual:</label>
				<input id="old_pass" name="old_pass" type="password" placeholder="Digite sua senha atual">
				<br>

				<label for="new_pass">Nova senha:</label>
				<input id="new_pass" name="new_pass" type="password" placeholder="Digite sua nova senha">
				<br>

				<label for="new_pass_confirmation">Confirme a nova senha:</label>
				<input id="new_pass_confirmation" name="new_pass_confirmation" type="password" placeholder="Confirme sua nova senha">
				<br>

				<button type="submit">Atualizar senha</button>
			</form>
		</div>

	</body>
</html>
